﻿@using AutoSzervizApp_Data

@model List<Autok>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>
    <h1>Összes rögzített autó</h1>

    <a href="/Home/Init">Base data</a>

    @foreach (var item in Model)
    {
        <p>@item.Tipus</p>
    }

    <h1>Összes rögzített munka</h1>
    @foreach (var item in Model)
    {
        <ul>
            @foreach (var munka in item.Munkak)
            {
                <li>@munka.Sikeres</li>
            }
        </ul>
    }
</body>
</html>
